<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to JSON BOURNE'S Travel Hub</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
   
</head>
<body >
  <nav class="bg-blue-600">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-20 items-center justify-between">

        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <!-- <div class="flex flex-shrink-0 items-center">
            <img class="h-80 w-auto" src="/assets/images/globe.jpeg" alt="Your Company">
          </div> -->
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a href="/" class="bg-gray-900 text-white rounded-md px-10 py-2 text-lg font-large" aria-current="page">JBTRAVEL BLOG</a>
              <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">COUNTRY</a>
              <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">YOUR PLANS</a>
              
            </div>
          </div>
        </div>
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">

       
          {{#if loggedIn}} 
               <select class="bg-gray-900 text-white rounded-md px-10 py-2 rounded-lg font-large"   id="countryDropdown" onchange="handleSelect()">
                  <option value="" disabled selected>Select a Country</option>
                  <option value="1">France</option>
                  <option value="2">Italy</option>
                  <option value="3">Spain</option>
              </select>
          <div class="relative ml-3">
              <div class="flex space-x-4">
                  <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                  <a href="/api/recommendation" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Post Reccommendation</a>
                  <a id="logout" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">LOGOUT</a>
                </div>
            </div>     
     {{else}}
          <!-- Profile dropdown -->
            <div class="relative ml-3">
              <div class="flex space-x-4">
                  <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                  <a href="/login" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">LOG IN</a>
                  <a href="/signup" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">SIGN UP</a>
                  
                </div>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
    <!-- Mobile menu, show/hide based on menu state. -->
<div class="sm:hidden" id="mobile-menu">
        <div class="space-y-1 px-2 pb-3 pt-2">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="/" class="bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-large" aria-current="page">JBTRAVEL BLOG</a>
            <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">COUNTRY</a>
            <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">YOUR PLANS</a>
        </div>
    </div> 
  </nav>
  <main>
    <div class="body row">
      {{{body}}}
    </div>
  </main>
  <footer >
    <nav class="bg-gray-600">
      <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 mt-10 mb-4">
        <div class="relative flex h-20 items-center justify-between">
          <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
           <h6 class="text-white w-1/2 p-4 mx-auto text-center">© 2024 JB Travel Inc.</h6>
        </div>
      </div>
     </div>
    </nav>
  </footer>

</body>
 <!-- dropdown meny selection -->

<script>
  function handleSelect() {
    event.preventDefault();
    const dropdown = document.getElementById("countryDropdown");
    const value = dropdown.value;
    newURL=`/api/recommendation/recomJson/${value}`;
    document.location.href = newURL
  }
</script>

{{#if loggedIn}} 

<script src="/js/logout.js"></script>
{{/if}}
 
</html>

