<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Spain</title>
    <!-- Include any necessary stylesheets or scripts here -->
  </head>
  <body>
    <!-- Navbar -->
    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/login'>Login/Logout</a></li>
        <li><a href='/view-countries'>View Countries</a></li>
        <li><a href='/my-destinations'>My Destinations</a></li>
      </ul>
    </nav>

    <!-- Main Body -->
    <div id='main-content'>
      <!-- Section for Spain -->
      <section class='country-section'>
        <h2>Spain</h2>
        <ul>
          <li>
            <span>Barcelona</span>
            <p>Comment section for Barcelona</p>
          </li>
          <!-- Repeat similar structure for other cities in Spain -->
        </ul>
      </section>
    </div>


  </body>
</html>