<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>France</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/login'>Login/Logout</a></li>
        <li><a href='/view-countries'>View Countries</a></li>
        <li><a href='/my-destinations'>My Destinations</a></li>
      </ul>
    </nav>

    <!-- Main Body -->
    <div id='main-content'>
      <section class='country-section'>
        <h2>France</h2>
        <ul>
          <li>
            <span>Paris</span>
            <p>Comment section for Paris</p>
            <form method='post' action='/france/comment'>
              <input type='text' id='parisComment' name='comment' required />
              <button type='submit'>Submit Comment</button>
            </form>
          </li>
          <li>
            <span>Bordeaux</span>
            <p>Comment section for Bordeaux</p>
            <form method='post' action='/france/comment'>
              <input type='text' id='bordeauxComment' name='comment' required />
              <button type='submit'>Submit Comment</button>
            </form>
          </li>
          <li>
            <span>Lille</span>
            <p>Comment section for Lille</p>
            <form method='post' action='/france/comment'>
              <input type='text' id='lilleComment' name='comment' required />
              <button type='submit'>Submit Comment</button>
            </form>
          </li>
        </ul>
      </section>
    </div>

  </body>
</html>