<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>France</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/login'>Login/Logout</a></li>
        <li><a href='/view-countries'>View Countries</a></li>
        <li><a href='/my-destinations'>My Destinations</a></li>
      </ul>
    </nav>

    <!-- Main Body -->
    <div id='main-content'>
      <section class='country-section'>
        <h2>France</h2>
        <div>
        {{#each recommendations}}
          <p>{{this.country}} - {{this.city}} - {{this.description}}</p>
        {{/each}}
        <!-- Add recommended locations -->
        <!-- Add a button to allow user to add -->
      </section>
     </div>
    </div>

  </body>
</html>