<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Italy</title>
    <!-- Include any necessary stylesheets or scripts here -->
  </head>
  <body>
    <!-- Navbar -->
    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/login'>Login/Logout</a></li>
        <li><a href='/view-countries'>View Countries</a></li>
        <li><a href='/my-destinations'>My Destinations</a></li>
      </ul>
    </nav>

    <!-- Main Body -->
    <div id='main-content'>
      <!-- Section for Italy -->
      <section class='country-section'>
        <h2>Italy</h2>
        <ul>
          <li>
            <span>Rome</span>
            <p>Comment section for Rome</p>
          </li>
          <!-- Repeat similar structure for other cities in Italy -->
                    <li>
            <span>Florence</span>
            <p>Comment section for Florence</p>
          </li>
                    <li>
            <span>Milan</span>
            <p>Comment section for Milan</p>
          </li>
        </ul>
      </section>
    </div>
 

  </body>
</html>