<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Italy</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/login'>Login/Logout</a></li>
        <li><a href='/view-countries'>View Countries</a></li>
        <li><a href='/my-destinations'>My Destinations</a></li>
      </ul>
    </nav>

    <!-- Main Body -->
    <div id='main-content'>
      <section class='country-section'>
        <h2>Italy</h2>
        {{! <ul>
          <li>
            <span>Rome</span>
            <p>Comment section for Rome</p>
            <form method='post' action='/italy/comment'>
              <input type='text' id='romeComment' name='comment' required />
              <button type='submit'>Submit Comment</button>
            </form>
          </li>
          <li>
            <span>Florence</span>
            <p>Comment section for Florence</p>
            <form method='post' action='/italy/comment'>
              <input type='text' id='florenceComment' name='comment' required />
              <button type='submit'>Submit Comment</button>
            </form>
          </li>
          <li>
            <span>Milan</span>
            <p>Comment section for Milan</p>
            <form method='post' action='/italy/comment'>
              <input type='text' id='milanComment' name='comment' required />
              <button type='submit'>Submit Comment</button>
            </form>
          </li>
        </ul> }}

        <!-- Add recommended locations -->
        <!-- Add a button to allow user to add -->
      </section>
    </div>

  </body>
</html>