<div class="flex justify-center">
  <div class="w-full max-w-md px-8 py-12 bg-white rounded-lg shadow">
  <form  class="form login-form">

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="username">Username</label>
    
      </label>

      <input 
        class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="username" type="text" placeholder="Enter your username">
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
        Password
      </label>
      
      <input 
        class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
        id="password" type="password" placeholder="Enter your password">
    </div>



    <button 
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      type="submit">
      Submit
    </button>
    <script src="./js/login.js"></script>