<div class="row p-10">
    <div class="max-w-sm w-full m-auto bg-indigo-300 rounded p-6">  
        <form class="form signup-form">
            <div>
                <h1 class="mb-8 text-3xl text-center">Sign Up</h1>
                <label class="block mb-2 text-indigo-900" for="username">Username</label>
                <input class="w-full p-2 mb-6 text-indigo-700 border-b-2 border-indigo-500 outline-none focus:bg-gray-300" type="text" id="username">
            </div>
                <div>
                <label class="block mb-2 text-indigo-900" for="password">Password</label>
                <input class="w-full p-2 mb-6 text-indigo-700 border-b-2 border-indigo-500 outline-none focus:bg-gray-300" type="password" id="password">
            </div>

            <div>
                <label class="block mb-2 text-indigo-900" for="confirm-password">Confirm Password</label>
                <input class="w-full p-2 mb-6 text-indigo-700 border-b-2 border-indigo-500 outline-none focus:bg-gray-300" type="password" id="confirm-password">
            </div>
            <div>          
                <input class="w-full bg-gray-700 hover:bg-indigo-700 text-white font-bold py-2 px-4 mb-6 rounded" type="submit">
            </div> 
        </form>
        <div class="text-grey-dark mt-6">
            Already have an account? 
            <a class="text-indigo-700 hover:text-gray-700 no-underline  border-blue text-blue" href="../login/">Log in</a>
        </div>
    </div>
</div>
    
<script src="./js/signup.js"></script>