<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Spain</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/login'>Login/Logout</a></li>
        <li><a href='/view-countries'>View Countries</a></li>
        <li><a href='/my-destinations'>My Destinations</a></li>
      </ul>
    </nav>

    <!-- Main Body -->
    <div id='main-content'>
      <section class='country-section'>
        <h2>Spain</h2>
        <ul>
          <li>
            <span>Barcelona</span>
            <p>Comment section for Barcelona</p>
            <form method='post' action='/spain/comment'>
              <input type='text' id='barcelonaComment' name='comment' required />
              <button type='submit'>Submit Comment</button>
            </form>
          </li>
          <li>
            <span>Madrid</span>
            <p>Comment section for Madrid</p>
            <form method='post' action='/spain/comment'>
              <input type='text' id='madridComment' name='comment' required />
              <button type='submit'>Submit Comment</button>
            </form>
          </li>
          <li>
            <span>Valencia</span>
            <p>Comment section for Valencia</p>
            <form method='post' action='/spain/comment'>
              <input type='text' id='valenciaComment' name='comment' required />
              <button type='submit'>Submit Comment</button>
            </form>
          </li>
        </ul>
      </section>
    </div>

  </body>
</html>